body {
    background-color: lightgray;
}

main {
    background-color: burlywood;
}

header {
    background-color: lightblue;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
    text-decoration: underline;
    background-color: chocolate;
}

div {
    text-align: center;
}

ol {
    display: inline-block;
    text-align: left;
}

a {
    color: teal;
    font-weight: bold;
    text-decoration: none; /*removes the default underline*/
}

nav a {
    font-weight: bold;
    color: lightsalmon;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

nav ul {
    background-color: teal;
    padding: 0;
    border-top: 2px double darkgray;
    border-bottom: 2px double darkgray;
}

    nav ul li:hover {
        background-color: darkblue;
    }

    nav ul li {
        display: inline-block;
    }

        nav ul li a {
            padding: .4em 1 em;
            display: block;
        }
