/*@import url('import.css');*/

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Nanum+Gothic+Coding&display=swap');

/*
font-family: 'Architects Daughter', cursive;
font-family: 'Nanum Gothic Coding', monospace;
*/



body {
    background-color: lightgray;
}

main {
    background-color: lightpink;
}

header {
    background-color: lightblue;
}

h1 {
    text-align: center;
    color: black;
    font-size: 24px;
}

h2 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

h3 {
    text-decoration: underline;
    font-weight: bold;
}

h4 {
    text-align: center;
    text-decoration: underline;
}

ol {
    text-align: center;
}

aside h2 {
    text-align: right;
    background-color: teal;
    color: lightsalmon;
    text-decoration: none;
}

div {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left
}


footer {
    font-style: italic;
}

a {
    color: teal;
    font-weight: bold;
    text-decoration: none;
}
    nav a {
    font-weight: bold;
    color: lightsalmon;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

nav ul {
    background-color: teal;
    padding: 0;
    border-top: 2px double darkgray;
    border-bottom: 2px double darkgray;
}

    nav ul li:hover {
        background-color: darkblue;
    }

    nav ul li {
        display: inline-block;
    }

        nav ul li a {
            padding: .4em 1 em;
            display: block;
        }
main section h3 {
    font-family: 'Architects Daughter', cursive;
}
#whychooseus {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
main section article h1 {
    font-family: Papyrus, fantasy;
}
header h1 {
    font-family: 'Nanum Gothic Coding', monospace;
}
header p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#whychooseus {
    text-align: center;
}