/*@import url('import.css');*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Spectral&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Spectral', serif;
*/



body {
    background: url(../images/farmhouse2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: rgba(211, 211, 211, 0.9);
}

footer {
    background-color: rgba(211, 211, 211, 0.9);
}

#headerContact {
    background-color: black;
}

#headerOverlay {
    background-image: url('../images/diy logo-1161719853-612x612.jpg');
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 3% center;
    padding: 2em;
    background-color: black;
}

header h1, header p {
    margin: 7px 0 7px 150px;
    text-align: left;
    letter-spacing: 0.1em;
    color: white;
}

h1 {
    text-align: center;
    color: black;
    font-size: 24px;
}

h2 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

h3 {
    text-decoration: underline;
    font-weight: bold;
}

h4 {
    text-align: center;
    text-decoration: underline;
}

ol {
    text-align: center;
}

aside h2 {
    text-align: right;
    background-color: black;
    color: white;
    text-decoration: none;
}

div {
    text-align: center;
}

ul {
    text-align: left
}


footer {
    font-style: italic;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav a {
    font-weight: bold;
    color: white;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

a:hover, a:active, a:focus {
    color: black;
    text-decoration: underline;
    background-color: white;
}

nav ul {
    background-color: black;
    padding: 0;
    border-top: 2px double darkgray;
    border-bottom: 2px double darkgray;
}

nav ul {
    min-height: 52px;
    background-image: url('../images/navbar image.jpg');
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 200px;
}

    nav ul li:hover {
        background-color: white;
        color: black;
    }

    nav ul li {
        display: inline-block;
    }

        nav ul li a {
            padding: .4em 1em;
            display: block;
        }

main section h3 {
    font-family: 'Montserrat', sans-serif;
}

#whychooseus {
    font-family: 'Montserrat', sans-serif;
}

main section article h1 {
    font-family: 'Montserrat', sans-serif;
}

header h1 {
    font-family: 'Spectral', serif;
}

header p {
    font-family: 'Spectral', serif;
}

#whychooseus {
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
}

/*#region Image gallery */

div.galleryItem {
    margin: 5px;
    border: 1px solid black;
    display: inline-block;
    width: 350px;
}

    div.galleryItem:hover {
        border: 1px solid black;
    }

div.gallery img {
    width: 100%;
    height: auto;
}

#imageGallery {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

/*#endregion */

/*#region Class Tables */
td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: gray;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

/*#endregion */
