body {
    background-color: lightgray;
}

main {
    background-color: blanchedalmond;
}

header {
    background-color: lightblue;
}

footer {
    font-style: italic;
}

aside h2 {
    text-align: right;
    background-color: teal;
    color: lightsalmon;
    text-decoration: none;
}

ul#asideKeywords {
    text-align: right;
    display: inline-block;
}

div {
    text-align: right;
}

a {
    color: teal;
    font-weight: bold;
    text-decoration: none; /*removes the default underline*/
}

nav a {
    font-weight: bold;
    color: lightsalmon;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

nav ul {
    background-color: teal;
    padding: 0;
    border-top: 2px double darkgray;
    border-bottom: 2px double darkgray;
}

    nav ul li:hover {
        background-color: darkblue;
    }

    nav ul li {
        display: inline-block;
    }

        nav ul li a {
            padding: .4em 1 em;
            display: block;
        }
